<!DOCTYPE html>
<html lang="en">

<head>
    <title>Photosynthesis</title>
    <%- include('../components/head')%>

</head>

<body>
    <header>
        <img id="logo" src="https://via.placeholder.com/30">
        <nav>
            <ul>
                <li>
                    <a href="/wishlist">Wishlist</a>
                </li>
                <li>
                    <a href="/mygarden">My Garden</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>

        <form action="/search" method="get">
            <input type="text" name="namedsearch" placeholder="Search by plant name">
            <button type="submit">Search</button>
        </form>
        <section>
            <h2>Browse By Category</h2>
            <form action="/filter" method="get">
                <input type="hidden" name="value" value="edible">
                <button type="submit">Browse Edible Plants</button>
            </form>
            <form action="/filter" method="get">
                <input type="hidden" name="value" value="vegetable">
                <button type="submit">Browse Vegetables</button>
            </form>
            <form action="/filter" method="get">
                <input type="hidden" name="value" value="fruit_conspicuous">
                <button type="submit">Browse Fruiting Plants</button>
            </form>
            <form action="/filter" method="get">
                <input type="hidden" name="value" value="flower_conspicuous">
                <button type="submit">Browse Flowering Plants</button>
            </form>
        </section>
    </main>
</body>

</html>