<!DOCTYPE html>
<html lang="en">

<head>
    <title>Photosynthesis</title>
    <%- include('../components/head')%>
    <link href="./styles/homepage.css" rel="stylesheet">
</head>

<body>
    <header>
        <img id="logo" src="../../styles/img/logoimage.png">
        <nav>
            <ul>
                <li>
                    <a href="/wishlist">Wishlist</a>
                </li>
                <li>
                    <a href="/mygarden">My Garden</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <img id="decoration"
            src="https://images.unsplash.com/photo-1570309333923-e2c02cc10649?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=750&q=80">
        <p>Welcome to Photosynthesis! Here you can search for plants, access information about their growth, and save
            plants to look at again later. Search a plant or browse by category to get started!</p>
        <form action="/search" method="get">
            <input id="searchbar" type="text" name="namedsearch" placeholder="Search by plant name">
            <button type="submit">Search</button>
        </form>
        <h2>Browse Plants By Category</h2>
        <section id="browsebuttons">
            <form action="/filter" method="get">
                <input type="hidden" name="value" value="edible">
                <button class="catagory" type="submit">Browse Edible Plants</button>
            </form>
            <form action="/filter" method="get">
                <input type="hidden" name="value" value="vegetable">
                <button class="catagory" type="submit">Browse Vegetables</button>
            </form>
            <form action="/filter" method="get">
                <input type="hidden" name="value" value="fruit_conspicuous">
                <button class="catagory" type="submit">Browse Fruiting Plants</button>
            </form>
            <form action="/filter" method="get">
                <input type="hidden" name="value" value="flower_conspicuous">
                <button class="catagory" type="submit">Browse Flowering Plants</button>
            </form>
        </section>
    </main>
</body>

</html>