*{
  font-family: 'Open Sans Condensed', sans-serif;
}
a{
  font-family: 'Open Sans Condensed', sans-serif;
  color: #F2F0F0;
}
header{
  background-color: #568C69;
  height: 13vh;
  display:flex;
  align-items: flex-end;
  align-content: center;
}
#logo{
  height: 70px;
  width: 80px;
  display: block;
  margin-bottom: 5px;
  margin-left: 47vw;
  margin-right: 5vw;
}
nav ul li{
  display: inline-block;
  margin-bottom: 5px;
  margin-left: 30px;
  text-decoration: none;
}
li a{
  text-decoration: none;
  padding: .2vw;
  transition: 500ms all;
}
li a:hover{
  background-color: #32523d; 
  border-radius: 0px 5px 0px 0px;
}
nav{
  font-size: 1.3em;
  margin-right: 5vw;
}
ul{
  width: 30vw;
}
body{
  background-color: #8ABF8D;
}

button{
  margin: 10px;
  background-color:  #6eb2b9; 
  color:  #252625;
  font-size: 1.1em;
  border-radius: 5px;
  transition: 500ms all;
}

button:hover{
  background-color: rgb(99, 83, 121);
  color: #c1d8c2;
}

footer{
  background-color: #568C69;
  height: 13vh;
}
main{
  min-height: 100vh;
}

