
#logo{
  margin-left: 45vw;
  margin-right: 10vw;
}

section{
  display:flex;
  justify-content: left;
  align-items: left;
  flex-wrap: wrap;
  background-color:rgba(167, 151, 189, 0.7);
  border: #56878C 2px solid;
  border-radius: 5px;
  margin: 5vh 0vw;
}

.image-container{
  width: 200px;
  height: 200px;
  overflow:hidden;
  margin: auto;
  padding: 1vw;
  border-radius: 5px;
  margin-bottom: 1vw;
  margin-right: 1vw;
}
img{
  width: 300px;
  
}
h2{
  text-align:center;
  margin: 1vw;
  font-size: 1.5em;
}
h4{
  font-style: italic;
  font-size: 1em;
}
.favorite-result{
  width: 25vw;
  background-color:rgba(215, 200, 236, .5);
  margin: 1vw 1vw 2vw 0vw;
  text-align: center;

  border-radius: 5px;
}
#plant-title{
  width: 30vw;
  text-align: center;
  padding-top: 5vw;
  padding-bottom: 5vw;
  margin: auto;
  background-color:rgba(215, 200, 236, .5);
  border:  rgb(109, 93, 131) 1px solid;
  border-radius: 3px;
}
#go-to-shopping{
  margin-left: 4vw;
  border: #56878C 2px solid;
  background-color:  #6eb2b9; 
  color:  #252625;
  font-size: 1.1em;
  border-radius: 5px;
  transition: 500ms all;
  text-decoration: none;
}
#go-to-shopping:hover{
  background-color: rgb(99, 83, 121);
  color: #c1d8c2;
}